<div class="jumbotron">
  <h3 class="informationArticleTitle">Usuario de la Piscina</h3>
    <label class="control-label" value="{{user.rut}}" name="rut" id="rut">Rut: {{user.rut}}</label><br>
    <label class="control-label" value="{{user.birthDate}}" name="birthDate" id="datepicker">Fecha Nacimiento: {{user.birthDate}}</label><br>
    <label class="control-label" value="{{user.names}}" name="names" id="names">Nombres: {{user.names}}</label><br>
    <label class="control-label" value="{{user.firstLastName}}" name="firstLastName" id="firstLastName">Apellido Paterno: {{user.firstLastName}}</label><br>
    <label class="control-label" value="{{user.secondLastName}}" name="secondLastName" id="secondLastName">Apellido Materno: {{user.secondLastName}}</label><br>
    <label class="control-label" value="{{user.email}}" name="email" id="email">Correo Electrónico: {{user.email}}</label><br>
    <label class="control-label" value="{{user.phone}}" name="phone" id="phone">Telefono: {{user.phone}}</label><br>
    <label class="control-label" value="{{user.address}}" name="address" id="address">Dirección: {{user.address}}</label><br>
    <label class="control-label" value="{{user.state}}" name="state" id="state">Comuna: {{user.state}}</label><br>
</div>