<br>
<div class ="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <p class="textTitle">Crear Categoria</p>
        <div class="line"></div><br>
        <form id="createCategoryForm" role="form" class=".form-inline informationArticleTitle"><br>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="form-group row">
                        <label for="inputKey" class="col-md-2 control-label">Nombre del Categor&iacutea</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control textUpper" name="name" value="{{category.name}}" id="name" placeholder="Nombre de la Categoría">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div id="unitMeasure">
                            <label for="inputKey" class="col-md-2 control-label">Descripción</label>
                            <div class="col-md-8">
                                <textarea class="form-control textUpper" rows="6" maxlength="500" value="{{category.description}}" name="description" id="despcription" placeholder="Descripción">{{category.description}}</textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        
                        <label for="inputKey" class="col-md-2 control-label">Estado</label>
                        <div class="col-md-8">
                            
                            <select name="stateCombo" class="form-control" id="stateCombo">
                                <option value="" selected >Seleccione Estado</option>
                                {{#state}}
                                <option value="{{id}}">{{name}}</option>
                                {{/state}}
                            </select>
                            
                        </div>
                    </div>
                </div>
            </div>
        <br>
        <div class="form-group row">
            <div class="col-md-12 botonGuardar">
                <label id="saveCategory" class="control-label btn btn-primary">Guardar Categoría</label>
            </div>
        </div>
        </form>
    </div>
</div>
<br>